body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#logo {
    width: 150px;
    height: 80px;
}

.topic {
    border-style: double;
    height: 250px;
}

#divVisie {
    background-color: #ff9933;
}

#divWaarden {
    background-color: #339966;
}

#divDoel {
    background-color:  #cc0000;
}

#divWerkwijze {
    background-color: #3399ff;
}

#divAanbod {
    background-color:  #662e9e;
}